*{
    color: white;
}
header{
    text-align: center;
}
h1{
    margin: 0;
    margin: auto;
}
body{
   background-image: linear-gradient( to bottom, #053C5E , #1D3958 , #353652 , #4C334D , #64303c );
   height: 675px;
   
}
main{
    background-image: linear-gradient( to bottom ,#053c5ea9 , #64303c0d );
    text-align: center;
   

}
section{
    background-image: linear-gradient(to bottom , #0000003b , #db222b44);
    width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 35px #01090e56;
}



input:hover{
    background-color: rgba(61, 61, 61, 0.007);

}
input{
    border-radius: 10px;
    border: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.187);
    width: 100px;
    margin-bottom: 5px;
}

label{
    
    display: inline-block;
    width: 150px;
}


button{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #053c5e69;
    border-color: #64303c;
}